---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const entries = (await getCollection('playground')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---
<BaseLayout title="Playground">
  <div class="blog-list">
    {entries.map((entry) => (
      <div class="blog-entry-wrapper">
        <a class="blog-entry" href={`/playground/${entry.slug}`}>
          <div class="entry-cat">
             <img class="img-fluid" src={entry.data.image || '/fileadmin/Daten/Bilder/t3logo.png'} width="200" height="200" alt="" />
          </div>
          <div class="entry-content">
            <time class="datetime" datetime={entry.data.date.toISOString()}>
              <span class="day">{entry.data.date.toLocaleDateString('de-DE', { day: '2-digit', month: 'short', year: 'numeric' })}</span>
            </time>
            <h3>{entry.data.title}</h3>
            <p>{entry.data.description}</p>
          </div>
        </a>
        <div class="entry-meta">
          <span>#Playground</span>
        </div>
        <hr>
      </div>
    ))}
  </div>
</BaseLayout>
