@import url(//fonts.googleapis.com/css?family=Raleway:400,300,400italic,700);

@font-face {
	font-family: 'icomoon';
	src:	url('fonts/icomoon.eot?t91ftr');
	src:	url('fonts/icomoon.eot?t91ftr#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?t91ftr') format('truetype'),
	url('fonts/icomoon.woff?t91ftr') format('woff'),
	url('fonts/icomoon.svg?t91ftr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
	content: "\e902";
}
.icon-back:before {
	content: "\e900";
}
.icon-playground:before {
	content: "\e901";
}

* {
	margin: 0;
	padding: 0;
}

body, html {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 1.875rem;
	background: url('img/bg.jpg') fixed no-repeat;
	background-size: cover;
}

h1 {
	margin-top: 0;
	font-weight: 300;
}

header {
	background: #303d4d;
	color: #fff;
	padding: 20px 0;
}

header a {
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
}

header a:hover,header a.active {
	opacity: 1.0;
}

header svg {
	color: #fff;
}
.back-navi {
	font-size: 1.5rem;
	position: absolute;
	left: 50px;
	top: 30px;
}
.back-navi a{
	opacity: 0.8;
}

.arlogo {
	position: absolute;
	right: 50px;
	top: 17px;
	display: block;
	width: 70px;
	height: 70px;
	background: url(img/logo-trans.png);
	background-size: contain;
	opacity: 1.0;
	text-indent: -10000px;
}

.demo-navigation {
	margin: 20px auto 0;
	max-width: 1170px;
	text-align: center;
}

/* Special Styling */
#login{
	width: 350px;
	height: 500px;
	background: inherit;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	margin-left: -175px;
	margin-top: -250px;
	border-radius: 8px;
}
#login:before{
	width: 400px;
	height: 550px;
	content: "";
	position: absolute;
	top: -25px;
	left: -25px;
	bottom: 0;
	right: 0;
	filter: blur(10px);
	background: inherit;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
}
form img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
form{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
input{
	background: 0;
	width: 200px;
	outline: 0;
	border: 0;
	border-bottom: 2px solid rgba(255,255,255, 0.3);
	margin: 20px 0;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: rgba(255,255,255, 0.8);
}
input[type="submit"]{
	border: 0;
	border-radius: 8px;
	padding-bottom: 0;
	height: 60px;
	background: #3aa4af;
	color: white;
	cursor: pointer;
	transition: background 600ms;
}
input[type="submit"]:hover{
	background: #382f7a;
}
span a {
	color: rgba(255,255,255, 0.8);
}

span a:hover {
	color: rgba(255,255,255, 1);
}
