* {
  box-sizing: border-box;
}
.background-image {
  position: relative;
  -webkit-perspective: 400px;
	perspective: 400px;
  overflow: hidden;
}

.background-piece {
}

.background-piece,
.bgp-cp,
.bgp-parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.background-piece .bgp-elem {
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.demo1 .background-piece .bgp-elem {
  box-shadow: 0px 20px 50px rgba(18, 20, 28, 0.61);
  -moz-box-shadow: 0px 20px 50px rgba(18, 20, 28, 0.61);
  -webkit-box-shadow: 0px 20px 50px rgba(18, 20, 28, 0.61);
}

.demo2 .background-piece .bgp-elem {
  border: 5px solid #fff;
}
