@import url(//fonts.googleapis.com/css?family=Raleway:400,300,400italic,700);

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t91ftr');
  src:  url('fonts/icomoon.eot?t91ftr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t91ftr') format('truetype'),
    url('fonts/icomoon.woff?t91ftr') format('woff'),
    url('fonts/icomoon.svg?t91ftr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
  content: "\e902";
}
.icon-back:before {
  content: "\e900";
}
.icon-playground:before {
  content: "\e901";
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.875rem;
  background: #aee0c5;
}

html.demo2,
html.demo2 body{
	background: #cbeaeb;
}

html.demo3,
html.demo3 body{
	background: #ead5e1;
}

html.demo4,
html.demo4 body{
	background: #b0abc3;
}

h1 {
	margin-top: 0;
	font-weight: 300;
}

header {
	background: #303d4d;
	color: #fff;
	padding: 20px 0;
}

header a {
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
}

header a:hover,header a.active {
	opacity: 1.0;
}

header svg {
	color: #fff;
}
.back-navi {
	font-size: 1.5rem;
	position: absolute;
	left: 50px;
	top: 30px;
}
.back-navi a{
	opacity: 0.8;
}

.arlogo {
	position: absolute;
    right: 50px;
    top: 17px;
    display: block;
    width: 70px;
    height: 70px;
    background: url(img/logo-trans.png);
    background-size: contain;
    opacity: 1.0;
    text-indent: -10000px;
}

.demo-navigation {
	margin: 20px auto 0;
	max-width: 1170px;
	text-align: center;
}

.background-image {
	width: 100%;
  height: 500px;
  background: url(img/bg1.jpg) center center;
  background-size: cover;
  position: relative;
}

.demo2 .background-image {
	background: url(img/bg2.jpg) center center;
  background-size: cover;
}

.demo3 .background-image {
	background: url(img/bg3.jpg) center center;
  background-size: cover;
}

.demo4 .background-image {
	background: url(img/bg4.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
	background: #87c4a3;
	height: 70px;
	position: relative;
}

.demo2 .navbar {
	background: #a6bebf;
}

.demo3 .navbar {
	background: #c1b0ba;
}

.demo4 .navbar {
	background: #8b879a;
}

.list {
	margin-top: 36px;
	text-align: left;
}

.item {
	height: 115px;
	margin-top: 30px 0;
	padding-left: 115px;
	clear: both;
}

.item span {
    height: 11px;
    width: 180px;
    margin-bottom: 19px;
    float: left;
}

.item .img {
    float: left;
    width: 71px;
    height: 71px;
    margin-left: -93px;
}

.item .img, .item span {
    background: #548169;
    border-radius: 3px;
}

.demo2 .item .img, .demo2 .item span {
	background: #a6bebf;
}

.demo3 .item .img, .demo3 .item span {
	background: #c1b0ba;
}

.demo4 .item .img, .demo4 .item span {
	background: #8b879a;
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 15px;
  left: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 19px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 29px;
  left: 8px;
}

@media (max-width: 767px){
	h1 {
		font-size: 1.5rem;;
	}
  .back-navi {
  	display: block;
  	position: static;
  	top: 0;
  	margin-left: 15px;
  }

  .arlogo {
  	display: none;
  }
}
