---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Kontakt">
    <div id="c875" class="frame frame-default frame-type-text frame-layout-0">
        <header>
            <h3 class="">Fragen oder Anregungen?</h3>
        </header>
    </div>

    <div id="c874" class="frame frame-default frame-type-text frame-layout-0">
        <h3>Verantwortlich für diesen Blog ist:</h3>
        <p>
            André Rinas<br>
            Rösrather Str. 644<br>
            51107 Köln<br>
            E-Mail: <a href="mailto:info@andrerinas.com">info@andrerinas.com</a>
        </p>
        
        <h3>Datenschutz:</h3>
        <p>
            Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
        </p>
        
        <h3>Haftungshinweis:</h3>
        <p>
            Diese Website wurde mit größtmöglicher Sorgfalt zusammengestellt. Trotzdem kann keine Gewähr für die Fehlerfreiheit und Genauigkeit der enthaltenen Informationen übernommen werden. Jegliche Haftung für Schäden, die direkt oder indirekt aus der Benutzung dieser Website entstehen, wird ausgeschlossen, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit beruhen. Sofern von dieser Website auf Internet-Seiten verwiesen wird, die von Dritten betrieben werden, übernehme ich, André Rinas keine Verantwortung für deren Inhalt.
        </p>
    </div>
</BaseLayout>
