---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Über mich">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <header>
                <h1 class="ce-headline-center">André Rinas</h1>
            </header>
        </div>
    </div>

    <div class="row me-pic">
        <div class="col-xs-12 text-center">
            <figure class="image">
                <img class="image-embed-item img-fluid" src="/fileadmin/Daten/Bilder/csm_ar_ac30037112.jpg" width="204" height="200" loading="lazy" alt="André Rinas" style="border-radius: 50%; margin: 50px auto;" />
            </figure>
        </div>
    </div>

    <div class="container timeline">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="frame frame-default frame-type-text text-right animate-right frame-layout-0 animated">
                    <header>
                        <h3 class="ce-headline-right">Erfahrung</h3>
                    </header>
                    <p><em>2019 - jetzt</em><br><strong>Netempire Software GmbH</strong><br> Software-Entwickler</p>
                    <p><em>2016 - 2019</em><br><strong>network.publishing GmbH</strong><br> Webentwickler, Teamleitung</p>
                    <p><em>2012 - 2016</em><br><strong>network.publishing GmbH</strong><br> Webentwickler</p>
                    <p><em>2009 - 2012</em><br><strong>blackbit neue Medien GmbH</strong><br> Ausbildung Mediengestalter Digital &amp; Print - nonprint</p>
                    <p><em>2007 - jetzt</em><br><strong>private Projekte</strong></p>
                </div>
                <div class="frame frame-default frame-type-div animate-right frame-layout-0">
                    <hr class="ce-div">
                </div>
                <div class="frame frame-default frame-type-text animate-right frame-layout-0">
                    <header>
                        <h3 class="ce-headline-right">Interessen</h3>
                    </header>
                    <p class="align-right">Mein Hund<br>Raspberry Pi Projekte<br>An der Vespa schrauben<br>Konsole spielen<br>Php-Frameworks (Laravel, Symfony)<br>Template Engines (Blade, Twig)</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="frame frame-default frame-type-text animate-left frame-layout-0 animated">
                    <header>
                        <h3 class="">Ich</h3>
                    </header>
                    <p>Ich bin Webentwickler mit Leib und Seele und mache auch nach der Arbeit noch einiges an eigenes Projekten. Ich finde es immer wieder erstaunlich wie schnell die Technologien sich erweitern und was heute schon möglich ist und bin gespannt, was noch alles in Zukunft kommen wird!</p>
                </div>
                <div class="frame frame-default frame-type-div frame-layout-0">
                    <hr class="ce-div">
                </div>
                <div class="frame frame-default frame-type-text frame-layout-0">
                    <header>
                        <h3 class="">Skills</h3>
                    </header>
                </div>
                <div class="frame frame-default frame-type-html frame-layout-0">
                    <ul class="skills">
                        <li class="html"><span class="title">Html</span><span class="percent"></span></li>
                        <li class="js"><span class="title">Javascript</span><span class="percent"></span></li>
                        <li class="php"><span class="title">PHP</span><span class="percent"></span></li>
                        <li class="css"><span class="title">CSS</span><span class="percent"></span></li>
                        <li class="ps"><span class="title">Photoshop</span><span class="percent"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
