---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const entries = (await getCollection('portfolio')).sort(
	(a, b) => {
    const dateA = a.data.date instanceof Date ? a.data.date : new Date(a.data.date);
    const dateB = b.data.date instanceof Date ? b.data.date : new Date(b.data.date);
    return dateB.valueOf() - dateA.valueOf();
  }
);
---
<BaseLayout title="Portfolio">
  <header>
    <h1>Portfolio</h1>
  </header>
  <p>Hier ein kleiner Auszug meiner Arbeiten, die ich in meiner Freizeit erstellt habe.&nbsp;</p>
  <div class="portfolio-list row">
    {entries.map((entry) => (
      <div class="col-md-3 col-sm-4 col-xs-6 portfolio-item">
        <a href={`/portfolio/${entry.slug}`}>
           <img width="350" height="350" class="img-fluid" src={entry.data.image || '/fileadmin/Daten/Bilder/t3logo.png'} alt={entry.data.title} />
           <div class="caption">
                <span class="title">{entry.data.title}</span>
                <span class="technic">
                    {entry.data.technologies && entry.data.technologies.join(', ')}
                </span>
           </div>
        </a>
      </div>
    ))}
  </div>
</BaseLayout>